.pre_footer {
  margin-top: 50px;
  img {
    max-width: 100%;

  }
}

footer {
  height: 50px;
  width: 100%;
  background: $brand_primary;
  line-height: 50px;
  color: white;
  margin-top: 5px;
  text-align: center;



}
